:root{
  --tempBorder: solid black;
  --tempBackground: white;
}

/* for all forms */
form {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 380px;
  border: solid red;
  padding: 12px;
  gap: 15px;
  background: var(--tempBackground);
}

textarea {
  resize: none;
  overflow-y: scroll;
}

form p {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  margin: 0;
}

form label {
  width: 100px;
  text-align: end;
  margin-right: 8px;
}

form p:last-of-type label {
  align-self: start;
}

.formBtnDiv {
  display: flex;
  justify-content: center;
  gap: 18px;
}

/* project form */
#projectForm label {
  width: fit-content;
}

/* confirmation box */
#confirmDeleteWrap {
  position: absolute;
  left: 33%;
  top: 33%;
  padding: 15px;
  width: 300px;
  border: var(--tempBorder);
  background: var(--tempBackground);
}

#confirmDeleteWrap h3 {
  margin: 0;
}

#confirmProjectDelete {
  margin-right: 15px;
}