:root {
  --tempBorder: solid black;
  --tempBackground: white;
  --myShadow: 4px 4px 4px var(--colorStone900);
}

/* for all forms */
form {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 25vh;
  left: 40vw;
  border: var(--tempBorder);
  padding: 12px;
  gap: 15px;
  background: var(--tempBackground);
}

input {
  line-height: 1.3rem;
}

textarea {
  resize: none;
  overflow-y: scroll;
}

form p {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  margin: 0;
}

form label {
  width: 100px;
  text-align: end;
  margin-right: 8px;
}

.required::after {
  content: ' *';
  color: red;
}

form p:last-of-type label {
  align-self: start;
}

.formBtnDiv {
  display: flex;
  justify-content: center;
  gap: 18px;
}

/* project form */
#projectForm label {
  width: fit-content;
}

/* confirmation box */
#confirmDeleteWrap {
  position: fixed;
  top: 25vh;
  left: 40vw;
  padding: 15px;
  width: 300px;
  border: var(--tempBorder);
  background: var(--tempBackground);
}

#confirmDeleteWrap h3 {
  margin: 0;
}

#confirmProjectDelete {
  margin-right: 15px;
}

/* bodyStyled */
#bodyStyled form,
#bodyStyled #confirmDeleteWrap {
  background-color: rgb(71, 85, 105, 0.95);
  border: 0;
  color: #fef2f2;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: var(--myShadow);
}

#bodyStyled form button,
#bodyStyled #confirmDeleteWrap button {
  background-color: #22c55e;
  border: 0;
  color: #fef2f2;
  font-weight: 500;
  border-radius: 3px;
  padding: 5px;
  box-shadow: var(--myShadow);
}

#bodyStyled form button:hover,
#bodyStyled #confirmDeleteWrap button:hover {
  background-color: #fef2f2;
  color: #22c55e;
  cursor: pointer;
}

#bodyStyled .cancelBtn,
#bodyStyled #confirmDeleteWrap #cancelProjectDelete {
  background-color: #dc2626;
}

#bodyStyled .cancelBtn:hover,
#bodyStyled #confirmDeleteWrap #cancelProjectDelete:hover {
  color: #dc2626;
  background-color: #fef2f2;
  cursor: pointer;
}