:root{
  --tempBorder: solid black;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 80px 1fr / 280px 1fr;
  position: relative;
}

#myHeader {
  display: flex;
  justify-content: start;
  align-items: center;
  grid-column: 1 / span 2;
  grid-row-start: 1;
  border: var(--tempBorder);
}

#myHeader h1 {
  margin: 0;
}

#myHeader img {
  height: 3rem;
}

#iconTitle {
  display: grid;
  grid-auto-flow: column;
  border: var(--tempBorder);
  align-items: center;
  margin-left: 45vw;
  gap: 5px;
}

#sidebar {
  grid-column: 1 / 2;
  grid-row-start: 2;
  border: var(--tempBorder);
  padding: 0 8px;
}

.sideTitleDiv {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  margin-top: 20px;
}

.sideTitleDiv button {
  width: fit-content;
  border: none;
  background-color: transparent;
  font-size: 1.8rem;

}

.sideTitle {
  margin: 0;
}

.sideNav {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 6px;
  margin-bottom: 16px;
}

#projectsDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  border: var(--tempBorder);
  position: relative;
}

.projectWrap h3 {
  margin: 0 auto 0 0;
}

.projectBtnWrap {
  display: flex;
}

.projectBtnInfo {
  position: absolute;
  right: 0px;
  bottom: 26px;
  visibility: hidden;
  border: var(--tempBorder);
  background: white;
  padding: 5px;
}

.projectDeleteBtn {
  padding-left: 0;
  border: 0;
  background: none;
}

/* mainDiv */
#mainDiv {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#activeTitle {
  border: var(--tempBorder);
  padding: 16px;
}

#activeTitle,
.taskWrap {
  margin: 16px 16px 0;
}

/* mainDiv tasks */
.taskWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: var(--tempBorder);
  gap: 15px;
  padding: 4px 0;
  margin-top: 0;
  position: relative;
}

.taskWrap input[type='checkbox'] {
transform: scale(1.5);
margin-left: 16px;
}

.nameDescriptionWrap {
  margin-right: auto;
}

.nameDescriptionWrap h3 {
  margin: 0;
}

.taskWrap p {
  margin: 0;
}

.taskBtnInfo {
  position: absolute;
  right: 0px;
  bottom: 50px;
  visibility: hidden;
  border: var(--tempBorder);
  background: white;
  padding: 5px;
}

.taskBtnWrap {
  display: flex;
}

.taskDeleteBtn {
  border: 0;
  background: 0;
  padding-left: 0;
}